.Slider {
  position: relative;
  margin: 20px;
  display: flex;
  width: 300px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.Slider .slider-line {
  position: relative;
  height: 12px;
  width: 100%;
  background: #e178a8;
  border-radius: 5px;
}

.Slider .slider-ratio {
  position: absolute;
  bottom: -40px;
  color: tan;
}

.Slider .slider-line .slider-dragger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: #ff9800;
  border-radius: 50%;
  cursor: pointer;
}
